@charset "UTF-8";

/*--------------------------
* 共通
--------------------------*/
.page_contents {
  position: relative;
  margin: 60px auto 0;
  padding: 0 10% 15%;
}

/*--------------------------
* work.html
--------------------------*/
/*--------------------------
* page_header
--------------------------*/
.page_header {
  position: fixed;
  height: 4.5rem;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin: auto;
}

.page_header__logo {
  font-family: 'Superior Title', serif;
  font-weight: 400;
  position: absolute;
  font-size: 1.25em;
  letter-spacing: .5em;
  left: 5%;
  top: 12px;
}

.page_header__logo p {
  font-size: .7em;
  letter-spacing: .4em;
  color: #aaa;
}

.page_gnavi {
  height: auto;
  background: none;
  position: absolute;
  width: auto;
  z-index: 1;
  right: 5%;
  left: auto;
  top: 22px;
}

.page_gnavi__inner {
  position: relative;
  top: unset;
  left: unset;
  transform: none;
  width: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.page_gnavi--list,
.page_icon--list {
  display: flex;
  padding: 0;
}

.page_gnavi--list li {
  font-size: .9em;
  margin: 0 1em;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  letter-spacing: .15em;
}

.page_icon--list li {
  width: 1em;
  margin: 0 1em;
}

/*--------------------------
* main
--------------------------*/
.main {
  position: relative;
}

.page_contents .area {
  margin: 0;
}

.pagetitle {
  padding: 3em 0;
  font-size: 1.6em;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: .2em;
  line-height: 1.4;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
}

.pagetitle:before {
  content: "";
  border: solid #3c3632;
  border-width: 1px 0 0 0;
  width: 8%;
  margin-right: 1%;
  display: inline-block;
  vertical-align: middle;
}

.pagetitle h2 {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

/*--------------------------
* works_details
--------------------------*/
.works__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works__tab {
  width: 15%;
}

.works__tab li {
  margin: 0 0 2rem 1rem;
}

.works__tab li a {
  display: block;
  cursor: pointer;
  line-height: 2;
  position: relative;
  padding: 1em 0 0.5em;
}


.works__details {
  width: 80%;
  margin: 0 0 0 auto;
}

.works__post {
  margin: 0 0 1.5rem 0;
  display: block;
}

.works__post li {
  width: 100%;
  padding: 0 0 10%;
}

.works__post li:last-child {
  padding: 0;
}


.ttl span {
  margin-bottom: .7em;
  font-weight: bold;
  text-align: left;
  line-height: 1.5;
}

.skill {
  margin: .7em 0;
}

/*--------------------------
* profile.html
--------------------------*/
.profile__contet {
  padding: 0;
  align-items: center;
}

.profile--img {
  opacity: 0;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.profile__inner h3 {
  margin: auto;
  font-weight: 400;
  margin-bottom: 1.8em;
}

.about,
.consept {
  padding: 5% 5% 0;
}

.about--title,
.consept--title {
  font-size: 1.3em;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: .2em;
  line-height: 1.4;
}

.about--title h2,
.consept--title h2 {
  padding: 0 0 0.7em;
}

.about--title h2:before,
.consept--title h2:before {
  content: "●";
  width: 3%;
  margin-right: 10px;
  display: inline-block;
}

/*--------------------------
* contact.html
--------------------------*/
.form {
  display: block;
  max-width: 900px;
  margin: auto;
}

.p-form {
  max-width: 640px;
  margin: auto;
}

.p-form .aspform_title {
  font-size: 1.2rem;
  margin: 2.4rem 0 0.75rem 0;
}

.p-form .aspform_title span {
  font-size: 0px;
}

.p-form select {
  max-width: 100%;
  width: auto;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #e0e0e0;
  border-radius: 0.75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.aspform_title span:before {
  content: "必須";
  font-size: .8rem;
  color: #e87985;
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0.4rem;
}

.p-form input[type="text"],
.p-form textarea {
  width: 100%;
  padding: 1rem;
  font-size: .8em;
  border: 1px solid #e0e0e0;
  border-radius: 0.85rem;
}

.p-form .aspform_button input[type="submit"] {
  letter-spacing: 0.15rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: block;
  border-radius: 40px;
  overflow: hidden;
  text-align: center;
  font-weight: bold;
  width: 50%;
  margin: 1.5rem auto 1.5rem;
  padding: 1.5rem 5rem;
  line-height: 1;
  color: #3c3632;
  border: 1px solid #3c3632;
  background-color: #FFF;
  font-size: 1.2em;
  cursor: pointer;
}

.p-form .aspform_button input[type="submit"]:hover {
  color: #fff;
  background-color: #3c3632;
}

@media screen and (max-width: 960px) {
  .pc {
    display: none;
  }

  .page_header {
    position: relative;
  }

  .page_contents {
    margin: 0 auto 0;
  }

  .profile--img {
    margin-bottom: 1.8rem;
  }
}

.works__tab {
  padding-top: 5rem;
}

.fixed-wrk {
  position: fixed;
  top: 0;
  z-index: 997;
}

@media screen and (max-width: 960px) {
  .works__inner {
    display: block;
  }

  .works__tab {
    width: 100%;
    display: flex;
    padding-top: 0;
    flex-wrap: wrap;
    justify-content: center;
    transition: all .3s;
  }

  .fixed-wrk {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 1.1rem;
    transform: translateY(0%);
  }

  .fixed-wrk li {
    margin: 0;
  }

  .works__tab li {
    width: 25%;
    text-align: center;
    margin: 0;
  }

  .works__details {
    margin: 1.1rem auto 0;
  }
}