@charset "utf-8";
@use "_responsive" as re;

/*--------------------------
* 共通
--------------------------*/

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.6rem;
  overflow-x: hidden;
  word-wrap: break-word;
  scrollbar-width: none;
}

.main {
  position: relative;
}

.page_contents {
  position: relative;
  margin: 60px auto 5%;
  max-width: 1300px;
  width: 90%;

  @include re.pc() {
    margin-top: 0px;
  }

  .area {
    margin: 0;
  }
}

.pagetitle {
  padding: min(8vw, 100px) 0;
  font-size: 1.6em;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: .2em;
  line-height: 1.4;

  &:before {
    content: "";
    border: solid #3c3632;
    border-width: 1px 0 0 0;
    width: 8%;
    margin-right: 1%;
    display: inline-block;
    vertical-align: middle;
  }

  h2 {
    position: relative;
    display: inline-block;
    vertical-align: middle;
  }
}

/*--------------------------
* viewbtn
--------------------------*/
.viewbtn {
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin: 5% 0 0;

  a {
    display: block;
    text-align: center;
    font-family: 'Superior Title', serif;
    letter-spacing: .1em;
    font-size: 1.6rem;
    line-height: 3;
    position: relative;

    @include re.tb() {
      font-size: 1rem;
    }

    &:after {
      height: 1px;
      content: "";
      display: block;
      clear: both;
      border-bottom: 1px solid #eee;
    }
  }
}

.contents {
  margin-left: 10%;
  margin-right: 10%;
  border-left: 1px solid #eee;
}

.sec-wrapper {
  margin: 0;
  padding: min(5vw, 5%) 0;
}

.sec-title {
  font-size: 2.5rem;
  font-family: 'Superior Title', serif;
  letter-spacing: .2em;
  line-height: 1.5;
  padding-left: 5%;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);

  @include re.tb() {
    font-size: 1.8rem;
  }
}

/* ホバー時 */
/* works */

.tab--list li,
.works__tab li {
  &:hover span:before {
    width: 100%;
  }

  span {
    cursor: pointer;
    position: relative;

    &:before {
      background-color: #3c3632;
      content: "";
      position: absolute;
      bottom: -3px;
      left: 0;
      width: 0;
      height: 1px;
      transition: all .3s cubic-bezier(.19, 1, .22, 1);
      transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    }
  }
}

//js実行時
.active span:before {
  width: 100% !important;
}


/* navi */
.gnavi--list,
.page_gnavi--list,
.footer__navi {
  li {
    &:hover a:before {
      width: 100%;
    }

    a {
      position: relative;

      &:before {
        background-color: #3c3632;
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 1px;
        transition: all .3s cubic-bezier(.19, 1, .22, 1);
        transition-timing-function: cubic-bezier(.19, 1, .22, 1);
      }
    }
  }
}

/* viewbtn */
.viewbtn a {
  &:hover::before {
    width: 100%;
  }

  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid #3c3632;
  }

  &:after {
    bottom: 0;
    left: 0;
    height: 1px;
    content: "";
    display: block;
    clear: both;
    border-bottom: 1px solid #eee;
  }
}


//js
/* fade */
.fade {
  opacity: 0;
  transition: all 3s ease;

  &-in {
    opacity: 1;
  }
}

/* slide */
.slide-in {
  clip-path: inset(0);
}