@charset "utf-8";
//変数で値を管理、変数をまとめ
// Webサイトのベースカラーやアクセントカラーなど、変数を定義して活用。


// スキルgraph
$html-line: #e34f26;
$css-line: #2965f1;
$javascript-line: #f6df1d;
$php-line: #6181b6;
$wordpress-line: #21759b;
$photoshop-line: #32a8ff;
$illustrator-line: #ff9a00;