@charset "UTF-8";

// 共通
@use "_reset";
@use "_base";
@use "_fonts";
@use "_variables";
@use "_header";
@use "_footer";
@use "_responsive" as re;


/*--------------------------
* works.html
--------------------------*/
.works__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @include re.pc() {
    display: block;
  }
}

.works__tab {
  width: 15%;

  @include re.pc() {
    width: 100%;
    display: flex;
    padding-top: 0;
    flex-wrap: wrap;
    justify-content: center;
    transition: all .3s;
  }

  @include re.sp() {
    justify-content: space-around;
  }

  li {
    margin: 0 0 2rem 1rem;
    opacity: 0.5;

    @include re.pc() {
      width: 25%;
      text-align: center;
      margin: 0;
    }

    &.active {
      opacity: 1;
    }
  }
}

.works__details {
  width: 80%;
  margin: 0 0 0 auto;

  @include re.pc() {
    width: 100%;
    margin: 32px auto 0;
  }

  .post {
    display: none;

    // js
    &.active {
      display: block;
      animation: appear 2s ease;
    }

    @keyframes appear {
      0% {
        opacity: 0;
      }

      100% {
        opacity: 1;
      }
    }

    &--list {
      display: grid;
      gap: 15px;
      grid-template-columns: repeat(2, 1fr); //2列に

      @include re.tb() {
        grid-template-columns: repeat(1, 1fr); //1列に
        gap: 10px;
      }
    }

    .text {
      text-align: center;
      padding: 5% 0;

      @include re.sp {
        width: 80%;
        margin: 0 auto;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }

  .ttl {
    margin-top: .8em;

    a {
      margin-bottom: .7em;
      font-weight: 700;
      text-align: left;
      line-height: 1.5;
    }
  }

  .skill,
  .readLast {
    margin-top: .5em;
  }
}

//js 固定される
.fixed-wrk {
  position: fixed;
  top: 5em;
  z-index: 997;

  @include re.pc() {
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 1.3rem;
    transform: translateY(0%);

    @include re.sp() {
      &.works__tab {
        justify-content: flex-start
      }
    }

    li {
      margin: 0;
    }
  }
}